
/* 	
body 
{ background: #959ba5; } */

header {
    position: relative;
    height: 600px;
    min-height: 600px;
    width: 100%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
   }
   
   header video {
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: -100;
     min-width: 100%;
     min-height: 100%;
     position: fixed;
     bottom: 0;
     width: auto;
     height: auto;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
   }
   
   header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
   }
   
   header .banner {
    display: inline-block;
    vertical-align: center;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    padding-top:10px;
    text-align: center;
    font:35px 'opensans-bold', sans-serif;
    font-weight: bold;
   }
 /* Add some content at the bottom of the video/page */
/* .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }   */

   header .banner-text {
    position: relative;
    color: black;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
   }
   
   header .btn{
       margin-top:80px;
       color:white;
   }
   
   .next-row {
    background: #959ba5;
    padding-top: 96px;
       padding-bottom: 66px;
    overflow: hidden;
    /* color:#fff; 
    text-align: center; */
   }
   
   #pie, #pie2 {
       margin-bottom:30px;
       margin-right:5px;
       margin-left:5px
   }
   
   .arc text {
       font-size: 18px;
       text-anchor: middle;
       font-weight:bold;
       fill:#ffffff;
   }
   
   .arc path {
       stroke: #fff;
   }
   
   .tooltip {
           background: #eee;
           box-shadow: 0 0 5px #999999;
           color: #333;
           font-size: 12px;
           left: 130px;
           padding: 10px;
           position: absolute;
           text-align: center;
           top: 95px;
           width: 190px;
           z-index: 10;
           display: block;
           opacity: 0;
           height:85px
   }
   
   
   footer {
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #212529;
    text-align: center;
    color:#fff;
    text-align: center;
   }